@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(233, 47%, 7%);
}

#card {
    position: absolute;
    left: 10%;
    height: fit-content;
    width: 80%;
    background-color: hsl(244, 38%, 16%);
    border-radius: 10px;
    vertical-align: middle;
    margin: auto;
    overflow: hidden;
}

#card-text {
    height: 350px;
    width: 40%;
    margin: 50px;
    display: inline-block;
}

#card-img {
    height: 450px;
    width: 50%;
    background-image: url('images/image-header-desktop.jpg');
    background-size: cover;
    background-color: hsla(277, 49%, 53%, 0.8);
    background-blend-mode: overlay;
    border-radius: 0 10px 10px 0;
    display: block;
    float: right;
}

h1 {
    color: hsl(0, 0%, 100%);
    font-family: 'Inter';
    margin-bottom: 20px;
}

h2 {
    font-family: 'Inter';
}

p {
    font-family: 'Lexend Deca';
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 15px;
    line-height: 25px;
}

.paragraph {
    font-weight: 400;
    margin-bottom: 40px;
}

#purple-text {
    color: hsl(277, 64%, 61%);
}

.info {
    display: inline-block;
    margin-right: 40px;
}

.stats-heading {
    color: hsl(0, 0%, 100%);
}

.stats-text {
    text-transform: uppercase;
}

.attribution { 
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media screen and (max-width: 1439px) {
    body {
        justify-content: none;
    }
    #card {
        width: 80%;
        top: 50px;
        margin-bottom: 50px;
        display: flex;
        flex-direction: column-reverse;
        height: fit-content;
        overflow: visible;
        text-align: center;
    }

    #card-text {
        width: 80%;
        height: 50%;
        padding: 10%;
        margin: 0;
    }

    #card-img {
        position: relative;
        border-radius: 10px 10px 0 0;
        height: 400px;
        width: 100%;
        display: block;
        float: left;
    }

    .info {
        margin: 0;
        width: 30%;
    }

    .attribution {
        display: none;
    }
}

@media screen and (max-width: 375px) {
    .info {
        width: 100%;
    }
}